.portlet {
	font-family: $font-sans;
	margin: $space-stack-l;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: $space-stack-m;
	}

	.portlet-card .portlet-content, .portlet-card-no-title .portlet-content {
		padding: 0;
	}
}

.portlet-content-editable {
	padding: 0 38px;
}